@model UserViewModel
@{

}
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-5">
            <h1 class="text-center">Login</h1>

         @*   <form method="post" asp-action="Login" asp-controller="Auth">
                <div class="form-outline mb-4">
                    <input type="email" asp-for="Email" class="form-control" />
                    <label class="form-label" asp-for="Email">Email address</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" asp-for="Password" class="form-control" />
                    <label class="form-label" asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check-box" checked />
                            <label class="form-check-label" for="check-box"> Remember me </label>
                        </div>
                    </div>

                    <div class="col">
                        <a asp-controller="Auth" asp-action="Forgot">Forgot password?</a>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                <div class="text-center">
                    <p>Not a member? <a asp-controller="Auth" asp-action="Register">Register</a></p>
                </div>
            </form>*@


            <form method="post" asp-controller="Auth" asp-action="Login">
                <div class="form-outline mb-4">
                    <input type="email" asp-for="Email" class="form-control" />
                    <label class="form-label" asp-for="Email">Email address</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" asp-for="Password" class="form-control" />
                    <label class="form-label" asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">Sign IN </button>
            </form>
        </div>
    </div>

</div>
