@using ShowroomRepository.Model;

@model IEnumerable<Car>

@{
    ViewData["Title"] = "Cars";
}


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
                <partial name="_CarPartial" model="@item" />
        }
    </div>
</div>
