@using ShowroomRepository.Model;

@model IEnumerable<Person>

@{
    ViewData["Title"] = "People";
}


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
                <partial name="_PersonPartial" model="@item" />
        }
    </div>
</div>
