.burgerMenu {
    display: block;
}
.burgerMenu img {
    width: 25px;
    margin-left: 5vw;
}


@media screen and (max-width: 1080px) {
    .burgerMenu {
        align-items: center;
        display: flex;
    }
}

@media screen and (min-width: 1180px) {
    .burgerMenu {
        display: none;
    }
}