.navbar-list {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: aliceblue;
}

.navbar-item a:hover {
    background-color: rgb(76, 75, 75);
}

#home {
    margin: 0;
    padding: 0;
    float: left;
}


#test-div {
    height: 500px;
    width: 100%;
    background-image: url("https://img5.lalafo.com/i/posters/api/75/a4/d4/mercedes-benz-320-3-2-l-mpv-body-type-40549292_image-1661522766.jpeg");
    
}