.city-list {
    display: flex;
    flex-direction: column;    
    margin-top: 10%;
    .my-shadow {
        display: none;
    }
    .city-elem {
        display: flex;
        flex-direction: column;    
        cursor: pointer;
        border-color: white;
        border-radius: 5px;
        .city-title {
            h1 {
                padding-left: 15px;
            }
            .icon {
                padding-right: 15px;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .city-desc {
            display: none;
        }
      
    }
}

