@model MoviesViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
    <div class="row">
        @for (int i = 0; i < 10; i++)
        {
            <div class="col-md-3">
                <partial name="_CardPartial" model="Model!.Search[i]!" />
            </div>
        }
    </div>

    <div class="row justify-content-center">
        <nav>
            <ul class="pagination pagination-lg">
                <li class="page-item page-line-up">
                    <a class="page-link" asp-action="Search" asp-controller="Home" asp-route-search="@Model.Request" asp-route-page=@(Model!.CurrentPage - 1)>
                        <span>
                            <i class="fa-sharp fa-solid fa-arrow-left"></i>
                            Previous
                        </span>
                    </a>
                </li>
                <a class="page-link">
                <li class="page-item page-line-up">
                        @Model!.CurrentPage
                </li>
                </a>
                <li class="page-item page-line-up">
                    <a class="page-link" asp-action="Search" asp-controller="Home" asp-route-search="@Model.Request" asp-route-page=@(Model!.CurrentPage + 1)>
                        <span>
                            Next
                            <i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
}
