nav {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: chartreuse;
    ul {
        width: 100%;
        margin: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 768px)
{
    nav {
        height: 150px;
        ul {
            display: flex;
            flex-direction: column;
        }
    }
}