@use 'navbar';

$red-color: red;
$border-red: rgba($red-color, 0.5); 
    


@mixin large-text-color($name, $font-size, $color) {
    #{$name} {
        font-size: $font-size;
        color: $color;
    }
}


@include large-text-color("p", 15px, $red-color);



h1 {
    color: burlywood;
}

