@model TurboAz.Pages.CarModel
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Make</h5>
        <p class="card-text">@Model.Model</p>
        <img src="@Model.Url" alt="@Model.Make"/>
    </div>
</div>

